import(grid)
import(gridExtra)
import(gtable)
import(BoutrosLab.plotting.general)

importFrom("graphics", "par", "strheight", "strwidth")
importFrom("grDevices", "dev.list", "rainbow")
importFrom("utils", "read.table", "vi", "head")
importFrom("stats", "setNames", "aggregate", "reshape")
importFrom("grDevices", "col2rgb")

export(SRCGrob)
