import(grid)
import(gridExtra)
import(gtable)
import(BoutrosLab.plotting.general)

importFrom("graphics", "par", "strheight", "strwidth")
importFrom("grDevices", "dev.list", "rainbow")
importFrom("utils", "read.table", "vi", "head")
importFrom("stats", "median", "setNames", "aggregate", "reshape")
importFrom(
    "grDevices",
    "col2rgb",
    "dev.off",
    "pdf",
    "png",
    "svg",
    "tiff",
    "colorRampPalette"
    )

export(SRCGrob)
export(create.phylogenetic.tree)
export(create.ccf.heatmap)
export(create.cluster.heatmap)
export(create.ccf.summary.heatmap)
export(create.clone.genome.distribution.plot)

export(data.frame.to.array)
export(update.descendant.property)
