---
name: R CMD check
'on':
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * MON'
jobs:
  R-CMD-check:
    runs-on: ubuntu-latest
    steps:
      - uses: r-lib/actions/setup-tinytex@v2
      - uses: uclahs-cds/tool-R-CMD-check-action@renv
